:host {
  width: 100%;
  font-size: 18px;
}
.mat-card {
  margin: 10px 3%;
}
mat-form-field {
  width: 100%;
}
.course-option-container {
  display: flex;
  flex-direction: column;
}
.middle {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}
.hole, .city {
  font-size: 14px;
  color: #666;
}
