<mat-card>
  <form (ngSubmit)="onSafe(name.value, handicap.value)">
    <mat-card-title>Profil Einstellungen</mat-card-title>
    <mat-form-field>
      <input matInput placeholder="Name" [value]="(user$ | async)?.name" #name>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Handicap" [value]="(user$ | async)?.handicap" type="number" #handicap>
    </mat-form-field>
    <div class="button-container">
      <button mat-raised-button color="primary" type="submit">Speichern</button>
    </div>
  </form>
  <div>
    <a routerLink="/profile/courses">Meine Plätze</a>
  </div>
  <hr>
  <p>Wenn Sie sich als Gast eingeloggt haben und sich ausloggen, sind ihre gespeicherten Runden weg!<br>Bei ihren Mitspielen werden sie jedoch noch angezeigt</p>
  <div class="button-container">
    <button mat-raised-button color="warn" (click)="onLogout()">Ausloggen</button>
  </div>
</mat-card>
