<mat-card class="card">
  <mat-card-title>Golf Score</mat-card-title>
  <mat-card-subtitle>Calculate your Golf Score</mat-card-subtitle>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="E-Mail" type="email">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" type="password">
  </mat-form-field>
  <button mat-raised-button color="primary">Einloggen</button>
  <hr>
  <button mat-raised-button color="primary">Mit Google einloggen</button>
  <button mat-raised-button color="accent">Als Gast einloggen</button>
  <a routerLink="/register">Mit Email registrieren</a>
</mat-card>
