:host {
  width: 100%;
}
mat-card {
  margin: 10px 3%;
}
.standings {
  display: grid;
  grid-template-columns: auto 50% repeat(3, auto);
  text-align: center;
  font-size: 18px;
}
.label {
  padding: 6px 0;
  font-weight: bold;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
.cell {
  padding: 6px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
.left {
  text-align: left;
}
.scorecard {
  display: grid;
  grid-template-columns: repeat(6, auto);
  text-align: center;
  font-size: 18px;
}
.sum {
  border-top: 1px solid #ccc;
  font-weight: bold;
}
.break-word {
  word-wrap: break-word;
  overflow-wrap: break-word;
}
