<mat-card class="card">
  <mat-card-title>Golf Score</mat-card-title>
  <mat-card-subtitle>Calculate your Golf Score</mat-card-subtitle>
  <form (ngSubmit)="onLoginEmail(email.value, password.value)">
    <mat-card-title>Einloggen</mat-card-title>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="E-Mail" type="email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">
        Bitte eine gültige E-Mail angeben
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'" [formControl]="password" required>
      <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="password.errors?.minlength || password.errors?.required">
        Das Password ist mindestens 8 Zeichen lang
      </mat-error>
      <mat-error *ngIf="password.errors?.incorrect">
        Falsches Password
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Einloggen</button>
  </form>
  <button mat-raised-button color="primary" routerLink=""(click)="onGoToRegister()">Mit Email registrieren</button>
  <p>Password vergessen? <a routerLink="" (click)="onResetPassword()">Password zurücksetzen.</a></p>
  <hr>
  <button mat-raised-button color="primary" (click)="onLoginGoogle()">Mit Google einloggen</button>
  <button mat-stroked-button color="primary" (click)="onLoginAnon()">Als Gast einloggen</button>
  <mat-progress-bar [ngStyle]="{'display': loading ? 'block' : 'none'}" mode="indeterminate"></mat-progress-bar>
</mat-card>

