<mat-card class="card">
  <mat-card-title>Golf Score</mat-card-title>
  <mat-card-subtitle>Calculate your Golf Score</mat-card-subtitle>
  <div>Login</div>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="E-Mail" type="email" #email>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" type="password" #password>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onLoginEmail(email.value, password.value)">Einloggen</button>
  <hr>
  <button mat-raised-button color="primary" (click)="onLoginGoogle()">Mit Google einloggen</button>
  <button mat-stroked-button color="primary" (click)="onLoginAnon()">Als Gast einloggen</button>
  <a routerLink="/register">Mit Email registrieren</a>
</mat-card>
